# Python
__pycache__/
*.pyc
.env

# Streamlit
.streamlit/


venv/

data/

tester.py 

.vscode/

resume-matcher-longformer

BiEncoder_trainer.py

BiEncoder_trainer_kaggle_quadruplet.py
quadruplet.py
triplet.py